@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html{
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #fff;
}

/* Preloader styles */
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black; /* Background color */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

/* Fade-out animation when loader is removed */
.preloader-container.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Smooth fade-in effect for the main content */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



 
